<div class="post-container">
    <post [title]="post.title" [author]="post.author" [date]="post.date">
        {{ post.content }}
    </post>
</div>
<div class="post-comments">
    <add-comment author="rodrigoamf"></add-comment>
    <comment author="nadianogues" date="Oct 1 2018">
        Thanks for sharing the knowledge!
    </comment>
    <comment author="mateus" date="Oct 2 2018">
        What about the tensorflow 2.0 with keras integrated on tf.keras?
    </comment>
    <comment author="john" date="Oct 1 2018">
            Thank you Piotr for this great article! It is very nicely explained and coded.
    
            I like how you created the nn_architecture using a dictionary, reminds of Tensorflow (each output connects to next input and have to match).
            
            I do have one quesiton, regarding the bias, why is the shape always (layer_output_size, 1)?
    </comment> 
</div>
