<div class="post-container">
    <div class="row">
        <div class="col-md-6 post-column-left">
            <img class="img-blog-post img-responsive" src="{{getImageSrc()}}" />
        </div>
        <div class="col-md-6 post-column-right">
            <div class="post-content-container">
                <div style="width: 100%;">
                    <div class="post-meta">
                        <span class="post-meta-author">by {{author}}</span>
                        <span class="post-meta-date">{{date}}</span>
                    </div>
                    <div class="post-title">
                        <a href="#">
                            <h2>
                                {{title}}
                            </h2>
                        </a>
                    </div>
                    <div class="post-content">
                        <ng-content></ng-content>
                    </div>
                    <div class="post-meta-comments">
                        {{comments}} comments
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>