<div>
    <img class="hero-image" src="assets/images/background.jpg">
</div>

<h2 class="format-title">Team Information</h2>

<div class="about-container format-about-item container">
    <div class="row">
        <div class="col-md-6 about-column-left">
            <img class="img-blog-about img-responsive" src="assets/images/nadia.jpg"/>
        </div>
        <div class="col-md-6 about-column-right">
            <div class="about-content-container">
                <div>
                    <div class="about-title">
                        <h2>
                            Nádia Nogues de Almeida
                        </h2>
                    </div>
                    <div class="about-content">
                        Computer Engineering<br>
                        IFSULDEMINAS - Campus Poços de Caldas<br>
                        nadia.almeida@alunos.ifsuldeminas.edu.br<br>
                        +55 35 98875-5769 
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="about-container format-about-item container">
    <div class="row">
        <div class="col-md-6 about-column-left">
            <img class="img-blog-about img-responsive" src="assets/images/rodrigo.jpg"/>
        </div>
        <div class="col-md-6 about-column-right">
            <div class="about-content-container">
                <div>
                    <div class="about-title">
                        <h2>
                            Rodrigo Araújo Marinho Franco
                        </h2>
                    </div>
                    <div class="about-content">
                        Computer Engineering<br>
                        IFSULDEMINAS - Campus Poços de Caldas<br>
                        rodrigo.franco@alunos.ifsuldeminas.edu.br<br>
                        +55 19 98324-2225 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>