<app-background-menu></app-background-menu>

<div class="container">
	<div class="container-contact">
		<div class="wrap-contact">
			<form [formGroup]="formNewPost" (ngSubmit)="sendMessage()" class="contact-form validate-form">
				<span class="contact-form-title">
					Submit your new post
				</span>

				<label class="label-input">Post Title *</label>
				<div class="wrap-input validate-input">
					<input formControlName="postTitle" id="postTitle" class="input">
					<span class="focus-input"></span>
				</div>

				<label class="label-input">Post Content *</label>
				<div class="wrap-input validate-input" data-validate = "Message is required">
					<textarea [froalaEditor] formControlName="postContent" id="postContent" class="input"></textarea>
					<span class="focus-input"></span>
				</div>

				<div class="container-contact-form-btn">
					<button class="contact-form-btn" type="submit">
						Submit
					</button>
				</div>
            </form>
        </div>
    </div>
</div>