.hero-image
{
    width: 100%;
    height: 600px;
}

.format-image
{
    background: url("../../assets/images/hero.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
}

.format-image:after
{
    //position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}