<div id="id01" class="modal">
  
    <form class="modal-content animate" action="/action_page.php" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>
  
      <div class="container">
      
          <label for="uname"><b>Email</b></label>
          <input class = "format-input-text" type="text" placeholder="Enter Email" name="uname" required>
  
          <label for="psw"><b>Password</b></label>
          <input class = "format-input-password" type="password" placeholder="Enter Password" name="psw" required>
          
          <button class="format-button-login" type="submit">Login</button>
      </div>
    </form>
</div>
  