<header>
    <div class="header-area">
        <div id="sticky-header" class="main-header-area">
            <div class="container">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a routerLink="" class='format-link'>
                                <img class="format-logo-img" src="assets/images/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation" class="format-menu">
                                    <li class="format-item-menu">
                                        <a routerLink="/home" routerLinkActive="active" class="format-link">Posts</a>
                                    </li>
                                    <li class="format-item-menu">
                                        <a routerLink="/about" routerLinkActive="active" class='format-link'>About</a>
                                    </li>
                                    <li class="format-item-menu">
                                        <a routerLink="/contact" routerLinkActive="active" class='format-link'>Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                        <div class="log_chat_area d-flex align-items-center">
                            <span class="text-logged" *ngIf="loginService.isLogged">
                                {{ loginService.user.username }}
                            </span>
                            <button *ngIf="!loginService.isLogged; else dontShowLogin" onclick="document.getElementById('id01').style.display='block'" class="login popup-with-form format-link format-button-login">Login</button>
                            <ng-template #dontShowLogin>
                                <button class="login popup-with-form format-link format-button-login" (click)="logout()">Logout</button>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-login *ngIf="!loginService.isLogged"></app-login>

</header>
