.format-button-login
 {
    color: white;
    padding: 14px 30px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.format-button-login:focus
{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.format-menu
{
  margin: 0px;
  padding: 0px;
}

.format-item-menu
{
  list-style: none;
}

.format-link
{
    color: #1F1F1F;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    outline: medium none;
}

.format-link:focus 
{
    outline: none;
    color: #fff;
}
  
.header-area 
{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
    
}

.header-area .main-header-area .logo-img 
{
    text-align: center;
}

.header-area .main-header-area .book_room 
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
}
  
.header-area .main-header-area .book_room .socail_links .format-menu .format-item-menu
{
    display: inline-block;
}

.header-area .main-header-area .book_room .socail_links .format-menu .format-item-menu .format-link 
{
    color: #A8A7A0;
    margin: 0 10px;
    font-size: 15px;
}

.header-area .main-header-area .book_room .socail_links .format-menu .format-item-menu .format-link:hover 
{
    color: #fff;
}

.header-area .main-header-area .book_room .book_btn 
{
    margin-left: 30px;
}

.header-area .main-header-area .book_room .book_btn .format-link
{
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #fff;
    color: black;
    padding: 14px 20px;
}

.header-area .main-header-area .book_room .book_btn .format-link:hover 
{
    background: #fff;
    color: #000 !important;
    border: 1px solid #fff;
}

.header-area .main-header-area .main-menu 
{
    text-align: center;
    padding: 12px 0;
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu 
{
    display: inline-block;
    position: relative;
    margin-right: 50px;
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu .format-link
{
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    padding: 0px 0px 10px 0px;
    position: relative;
    text-transform: capitalize;
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu .format-link::before
{
    position: absolute;
    content: "";
    background: rgb(9, 255, 243);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scaleX(0);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu .format-link:hover::before 
{
    opacity: 1;
    transform: scaleX(1);
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu .format-link.active::before 
{
    opacity: 1;
    transform: scaleX(1);
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu .format-link:hover
{
    color: #fff;
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu .submenu 
{
    position: absolute;
    left: 0;
    top: 140%;
    background: #fff;
    width: 200px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    opacity: 0;
    visibility: hidden;
    text-align: left;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu .submenu 
{
    display: block;
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu .submenu .format-link 
{
    padding: 10px 15px;
    position: inherit;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    color: #000;
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu .submenu .format-link::before 
{
    display: none;
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu .submenu .format-item-menu:hover .format-link 
{
    color: #000;
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu:hover > .submenu 
{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu:hover > .format-link::before 
{
    opacity: 1;
    transform: scaleX(1);
}

.header-area .main-header-area .main-menu .format-menu .format-item-menu:first-child .format-link 
{
    padding-left: 0;
}

.header-area .main-header-area.sticky 
{
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 999;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 150px;
    background: #2E004B;
}

.header-area .main-header-area.sticky .main-menu 
{
    padding: 0;
}

.header-area .log_chat_area 
{
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
}

.header-area .login 
{
    font-size: 16px;
    margin-right: 50px;
    text-transform: capitalize;
    color: #fff;
}

@media (max-width: 767px) 
{
    .header-area 
    {
        padding-top: 0;
    }
    .header-area .main-header-area 
    {
        padding: 10px 10px;
    }
    .header-area .main-header-area .logo-img  
    {
        text-align: left;
        width: 70px;
    }
    .header-area .main-header-area .main-menu .format-menu .format-item-menu .format-link
    {
        display: none !important;
    }
    .main-header-area.sticky 
    {
        padding: 10px 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) 
{
    .header-area 
    {
        padding-top: 0;
    }
    .header-area .main-header-area 
    {
        padding: 10px 10px;
    }
    .header-area .main-header-area .logo-img 
    {
        text-align: left;
        width: 70px;
    }
    .header-area .main-header-area .main-menu .format-menu .format-item-menu .format-link
    {
        display: none !important;
    }
    .main-header-area.sticky 
    {
        padding: 10px 10px;
    }
}
  
@media (min-width: 992px) and (max-width: 1200px) 
{
    .header-area .main-header-area
    {
        padding: 0 20px;
    }
    .header-area .main-header-area .main-menu .format-menu .format-item-menu
    {
        margin-right: 20px;
    }
    .header-area .main-header-area .logo-img 
    {
        text-align: left;
    }
    .header-area .main-header-area .main-menu .format-menu .format-item-menu .format-link 
    {
        font-size: 15px;
    }
    .header-area .main-header-area.sticky 
    {
        padding: 10px 20px;
    }
    .header-area .login 
    {
        margin-right: 7px;
    }
}
  
@media (min-width: 1200px) and (max-width: 1500px) 
{
    .header-area .main-header-area.sticky 
    {
        padding: 10px 20px;
    }
    .header-area .main-header-area .main-menu .format-menu .format-item-menu .format-link 
    {
        font-size: 15px;
    }
    .header-area .main-header-area .main-menu .format-menu .format-item-menu
    {
        margin-right: 15px;
    }
    .container 
    {
        max-width: 100% !important;
    }
    .header-area .main-header-area 
    {
        padding: 0 10px;
    }
}