.post-title{
    font-size: 32px;
    color: rgba(0,0,0,0.8);
    text-align: left;
    padding-bottom: 20px;
}

.post-container{
    width: 80%;
    margin-top: 40px;
}

.post-meta-avatar{
    padding-left: 20px;
    float:left;
    max-height: 50px;
    max-width: 50px;
}

.post-meta-avatar img{
    max-height: 50px;
    max-width: 50px;
}

.post-meta-inline{
    float:left;
    padding-left: 40px;

    .post-meta-author{
        font-size: 16px;
        color: #007aff
    }
}

.circular{
    border-radius: 50%;
    background-size: 50px 50px;
}

.post-content{
    clear:both;
    text-align: justify;
    padding-top: 40px;

    .text-post{
        font-size: 18px !important;
    }

}