<div class="post-container">
    <div class="post-title">
        {{title}}
    </div>
    <div class="post-meta">
        <div class="post-meta-avatar">
            <img class="circular" src="assets/images/avatar.png">
        </div>
        <div class="post-meta-inline">
            <div class="post-meta-author">{{author}}</div>
            <div class="post-meta-date">{{date}}</div>
        </div>
    </div>
    <div class="post-content">
        <ng-content class="text-post"></ng-content>
    </div>
</div>
