/* You can add global styles to this file, and also import other style files */
*{
    font-family: "Montserrat";
    font-weight: 500;
    box-sizing: border-box;
}

input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 1px solid black;
    outline: 0;
} 

button
{
    background-color: #38a9ac;
    border: none;
}

button:hover
{
    background: darken(#38a9ac, 10%);
    cursor: pointer;
}
a:focus, a:hover
{
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

textarea {
outline: none;
border: none;
}

textarea:focus, input:focus {
border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}