<app-hero></app-hero>
<div class="format-post-item container">
    <a [routerLink]="['/post', post.id]" *ngFor="let post of posts" class="link-post">
        <post-item  [author]="post.author" [date]="post.date" [title]="post.title" [comments]="post.numberComments">
            {{ post.content | reducedDescription }}
        </post-item>
    </a>
</div>
<div class="pagination-home">
    <ul class="pagination">
      <li class="page-item"><a [routerLink]="['/home', page]" routerLinkActive="active-pagination" *ngFor="let page of pages">{{page}}</a></li>
    </ul>
</div>