<app-hero></app-hero>
<div class="format-post-item container">
    <post-item author="rodrigoamf" date="November 23, 2016" title="A quick midday swim for inspiration" comments="2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in eros scelerisque, scelerisque nisl sit amet,...
    </post-item>

    <post-item author="rodrigoamf" date="November 23, 2016" title="A quick midday swim for inspiration" comments="2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in eros scelerisque, scelerisque nisl sit amet,...
    </post-item>

    <post-item author="rodrigoamf" date="November 23, 2016" title="A quick midday swim for inspiration" comments="2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in eros scelerisque, scelerisque nisl sit amet,...
    </post-item>
</div>